<h1 class="page-title">QR Code Scanner Example</h1>

<div class="scanner-container">
  <zxing-scanner
    #scanner
    class="scanner"
    [autostart]="true"
    [(device)]="currentDevice"
    [formats]="allowedFormats"
    (scanSuccess)="onCodeResult($event)"
    (scanError)="scanError($event)"
    backgroundColor="red"
  ></zxing-scanner>
</div>

<p *ngIf="qrResultString" class="scan-result">
  Scan Result: {{ qrResultString }}
</p>

<div class="toggle-camera-btn-container">
  <ion-button (click)="rescan()" class="toggle-camera-btn" mat-flat-button color="primary">
    Rescan
  </ion-button>
</div>
